@model LotusCatering.Web.ViewModels.Tabs.TabInfoWithItemsViewModel
@using LotusCatering.Services;
@using LotusCatering.Common;
@{
    ViewData["Title"] = Model.Name;
}

<div class="center-align">
    <h1>@Model.Name</h1>
    @foreach (var tab in Model.Items)
    {
        <div class="inline-form">
            <a asp-controller="Items" asp-action="Id" asp-route-id=@tab.Id asp-route-title="@ConvertService.CyrillicToLatin(tab.Name, true)">
                <img src="@string.Format(GlobalConstants.CloudUrlTemplateWithFixedHeight, tab.ImageUrl, 1000)">
                <h2>@tab.Name</h2>
                <span>Цена: @tab.Price.ToString("0.00") лв.</span>
            </a>
        </div>
    }
    @if (this.User.IsInRole("Administrator"))
    {
        <div class="inline-form">
            <a asp-area="Administration" asp-controller="Items" asp-action="Add" asp-route-id="@Model.Id">
                <img src="~/images/plus.png">
                <h2>Добави</h2>
                <span>Нов продукт</span>
            </a>
        </div>
        <div class="inline-form">
            <a asp-area="Administration" asp-controller="Tabs" asp-action="Edit" asp-route-id="@Model.Id">
                <img src="~/images/edit.png">
                <h2>Редактирай</h2>
                <span>Подкатегорията</span>
            </a>
        </div>
        <div class="inline-form">
            <a asp-area="Administration" asp-controller="Tabs" asp-action="Delete" asp-route-id="@Model.Id">
                <img src="~/images/delete.png">
                <h2>Изтрий</h2>
                <span>Подкатегорията</span>
            </a>
        </div>
    }
</div>
