@model LotusCatering.Web.ViewModels.Home.HomeViewModel
@using LotusCatering.Common;
@{
    ViewData["Title"] = "Начална страница";
    int counter = 0;
}
<div>

    @foreach (var category in Model.Categories)
    {
        <div class="oneline-flex">
            @if (counter % 2 == 0)
            {
                <img src="@string.Format(GlobalConstants.CloudUrlTemplate, category.ImageUrl)" alt="@category.Name" class="half-width" />
                <div class="half-width some-padding">
                    <p>@category.Name</p>
                    <p>@category.Description</p>
                </div>
            }
            else
            {
                <div class="half-width some-padding">
                    <p>@category.Name</p>
                    <p>@category.Description</p>
                </div>
                <img src="@string.Format(GlobalConstants.CloudUrlTemplate, category.ImageUrl)" alt="@category.Name" class="half-width" />
            }
            @{
                counter += 1;
            }
        </div>
    }

    @foreach (var gallery in Model.Galleries)
    {
        <div class="oneline-flex">
            @if (counter % 2 == 0)
            {
                <img src="@string.Format(GlobalConstants.CloudUrlTemplate, "NONE")" alt="@gallery.Name" class="half-width" />
                <div class="half-width some-padding">
                    <p>@gallery.Name</p>
                </div>
            }
            else
            {
                <div class="half-width some-padding">
                    <p>@gallery.Name</p>
                </div>
                <img src="@string.Format(GlobalConstants.CloudUrlTemplate, "NONE")" alt="@gallery.Name" class="half-width" />
            }
            @{
                counter += 1;
            }
        </div>
    }
</div>

