@model AnisMasterpieces.Web.ViewModels.Categories.CategoryNameAndTabNameViewModel
@using AnisMasterpieces.Services;
@using AnisMasterpieces.Common;
@{
    ViewData["Title"] = Model.Name;
}

<div class="center-align">
    <h1>@Model.Name</h1>
    @foreach (var tab in Model.Tabs)
    {
        <a asp-controller="Tabs" asp-action="Id" asp-route-id=@tab.Id asp-route-title="@ConvertService.CyrillicToLatin(tab.Name, true)">
            <div class="inline-form">
                <h2>@tab.Name</h2>
                <img src="@string.Format(GlobalConstants.CloudUrlTemplate, tab.ImageUrl)">
                <p>@tab.Description</p>
            </div>
        </a>
    }
</div>
