@model AnisMasterpieces.Web.ViewModels.Tabs.TabInfoWithItemsViewModel
@using AnisMasterpieces.Services;
@using AnisMasterpieces.Common;
@{
    ViewData["Title"] = Model.Name;
}

<div class="center-align">
    <h1>@Model.Name</h1>
    @foreach (var tab in Model.Items)
    {
        <a asp-controller="Items" asp-action="Id" asp-route-id=@tab.Id asp-route-title="@ConvertService.CyrillicToLatin(tab.Name, true)">
            <div class="inline-form">
                <h2>@tab.Name</h2>
                <img src="@string.Format(GlobalConstants.CloudUrlTemplate, tab.ImageUrl)">
                <p>Цена: @tab.Price лв.</p>
            </div>
        </a>
    }
    @if (this.User.IsInRole("Administrator"))
    {
        <a asp-area="Administration" asp-controller="Items" asp-action="Add" asp-route-id="@Model.Id">
            <div class="inline-form">   
                <h2>Добави</h2>
                <img src="~/images/plus.png">
                <p>Нов продукт</p>
            </div>
        </a>
    }
</div>
