@model AnisMasterpieces.Web.ViewModels.Items.ItemBasicViewModel
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Id</h1>
<h1>@Model.Name</h1>
<h1>@Model.Price</h1>
<h1>@Model.ImageUrl</h1>
<h1>@Model.Description</h1>
