@model LotusCatering.Web.ViewModels.Items.ItemViewModel
@using LotusCatering.Common;
@using LotusCatering.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = Model.Name;
}

<div class="oneline-flex center-align">
    <img src="@string.Format(GlobalConstants.CloudUrlTemplate, Model.ImageUrl)" class="half-width oval-img">
    <div class="half-width some-padding left-align">
        <div class="oneline-flex">
            <h1 class="more-than-half-width some-padding center-align">@Model.Name</h1>
            <div class="less-than-half-width some-padding">
                <p>Сподели:</p>
                <a href="#">F</a>
                <a href="#">Y</a>
            </div>
        </div>
        <div>
            <h3>Добави в количката:</h3>
            <h3>Цена на една хапка: @Model.Price лв.</h3>

            <div>
                <form method="post" data-ajax="true" data-ajax-url="/Profile/Cart/AddItem" data-ajax-method="post" data-ajax-complete="AddtoCart">
                    <input type="text" name="itemId" value="@Model.Id" hidden />
                    <label for="count">Брой хапки:<br /></label>
                    <div class="input-group">
                        <input type="button" value="-" class="button-minus" data-field="Quantity" />
                        <input type="number" id="Quantity" name="Quantity" min="10" max="300" step="10" value="10" class="quantity-field">
                        <input type="button" value="+" class="button-plus" data-field="Quantity">
                    </div>
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                    <input type="submit" value="Добави" class="AddToCart" />
                    }
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Items" asp-action="Edit" asp-area="Administration" asp-route-id="@Model.Id" class="white-button header-color">Редактирай</a>
                    }
                </form>
            </div>
            <h3>Описание:</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

@section scripts{
    <script>
        AddtoCart = (data) => {
            if (data.status == 200) {
                if (data.responseJSON.succeed == true) {
                    AddAlert("Прочетете!", "Успешно добавихте продукт във вашата количка!", "message");
                } else {
                    AddAlert("Внимание!", "Количката ви е пълна!", "error");
                }
            } else {
                AddAlert("Грешка!", "Свържете се с администратор!", "error");
            }
        };
    </script>
    <script src="~/js/numberInput.js"></script>
}